*{
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red;  */
}
ul{
    list-style: none;
}

a{
    text-decoration:none; 
    color:#E5E7EB;
    cursor: pointer;
}

.header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    /* gap: 30px; */
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;    
    /* border: 2px solid red; */
}

/*.logo{
    color: #F9FAF8;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}
*/

.logo img{
    display: flex;
    /* border: 2px solid red; */
    width: 50%;
   margin-top: -28px;
    

}
.links{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2653ad;
    padding-top: 2em;
    /* border: 2px solid red;  */
    width: 50%;
}


.description-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid red; */
    width: 80%;
    padding-bottom: 5%;
    gap: 2em;
    
}

.description{
    /* border: 2px solid red; */
    width: 50%;
}

.main-desc{
    color: #F9FAF8;
    /* border: 2px solid red; */
    font-size: 500%;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    
}

button{
    margin-top: 2em;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #c40c27;
    /* color: #F9FAF8; */
    background-color: #76ca1c;
    /* background-color: #c40c27; */
    border-radius: 0.1cm;
    border-color: transparent;
    padding: 5px 30px;
    cursor: pointer;

}
.sub-desc{
    margin-top: 8px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #c40c27;
    width: 80%;
    /* border: 2px solid red; */
}

.placeholder{
   
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;  
    justify-self: center;
    width: 50%;
    
     
}
.car{
    width:100%;
    display: flex;
    align-self: center;
    border-radius: 0.7cm;
}



.layer1{
    background-color:#F9FAF8;
    /* border: 2px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    gap: 20px;
    
    
    
}

.layer1-heading{
    /* border: 2px solid red; */
    color: black;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
}

.illustration-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 60%;
    
    
}

.item-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-around;
}




.boxcar{
    width: 100%;
    height: 100%;
}

.item-desc{
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #76ca1c;
}

.layer2{
    /* border: 2px solid red; */
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    border-radius: 0.7cm;
    width: 80%;
    margin: 0 auto;
   
    
}

.quote-content{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.quote{
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.author{
    align-self: flex-end;
    font-weight: 500;
    color: #76ca1c;
}

.layer3{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    width: 80%;
    margin: 0 auto;
    
}


.container{
    /* border: 2px solid red; */
    width: 80%;
    padding: 5% 0;
    border-radius: 0.7cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#76ca1c;
}

.main-desc-final{
    color: #F9FAF8;
    /* border: 2px solid red; */
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
}

.sub-desc-final{
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E7EB;
}

.layer3 button{
    background-color: #c40c27;
    color:#F9FAF8;
    
}



.footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.footer p{
    color: #E5E7EB;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0 auto;
}