*{
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red;  */
}

a{
    text-decoration:none; 
    color:#E5E7EB;
    cursor: pointer;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    /* border: 2px solid red; */
    /* gap: 30px; */
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    
    /* border: 2px solid red; */
}

.logo{
    color: #F9FAF8;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}
.links{
    display:flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #E5E7EB;
}


.description-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 80%;
    height: 400px;
}

.main-desc{
    color: #F9FAF8;
    /* border: 2px solid red; */
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
}

.button-container > button{
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 0.1cm;
    border-color: transparent;
    color:#E5E7EB;
    padding: 5px 30px;
    cursor: pointer;
}
.sub-desc{
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E7EB;
}

.placeholder{
    background-color: grey;
    /*border: 2px solid red;*/
    padding: 8% 10%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(208, 203, 203);
}

.layer1{
    background-color:#F9FAF8;
    /* border: 2px solid red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
    gap: 20px;
    
    
    
}

.layer1-heading{
    /* border: 2px solid red; */
    color: #1F2937;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
}

.illustration-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 60%;
    
    
}

.item-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-around;
}

.item-outline{
    padding: 50% 50%;
    height: 20%;
    width: 20% ;
    border: 5px solid #3882F6;
    border-radius: 0.8cm;
    background-color: #3882F6;

    

}

.item-desc{
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #1F2937;
}

.layer2{
    /* border: 2px solid red; */
    background-color: #E5E7EB;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
   
    
}

.quote-content{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
}

.author{
    align-self: flex-end;
    font-weight: 500;
}

.layer3{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


.container{
    width: 80%;
    padding: 5% 0;
    border-radius: 0.1cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
}

.main-desc-final{
    color: #F9FAF8;
    /* border: 2px solid red; */
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
}

.sub-desc-final{
    margin-top: 8px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E7EB;
}


.container > button{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #E5E7EB;
    background-color: #3882F6 ;
    border-radius: 0.1cm;
    border-color: #F9FAF8;
    color:#E5E7EB;
    padding: 5px 30px;
    
} 

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.footer p{
    color: #E5E7EB;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0 auto;
}